<!DOCTYPE html>
<html lang="en">
<head>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor-insert-plugin/2.5.0/css/medium-editor-insert-plugin-frontend.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor-insert-plugin/2.5.0/css/medium-editor-insert-plugin.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.3/css/medium-editor.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.ui.widget@1.10.3/jquery.ui.widget.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.iframe-transport/1.0.1/jquery.iframe-transport.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/jquery.fileupload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.3/js/medium-editor.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    {% load static %}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link href="{% static 'web_app/medium-editor-tables.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web_app/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'web_app/jquery-jvectormap-2.0.3.css' %}" type="text/css" media="screen"/>

    <script src="{% static 'web_app/plug_in.js' %}"></script>
    <script src="{% static 'web_app/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script src="{% static 'web_app/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'web_app/medium-editor-tables.js' %}"></script>


    <meta charset="UTF-8">
    <title>{{title}}</title>

</head>
<body class="page">
<a href="{% url 'web_app:topics' %}" class="btn btn-primary">Topics</a>
<a href="{% url 'web_app:index' %}" class="btn btn-primary">Home</a>
<a href="https://xipluschenyu.github.io/" class="btn btn-warning">Chenyu</a>
<div class="metanav">
{% block content %}
{% endblock content %}
</div>

</body>
<script src="{% static 'web_app/main.js' %}"></script>
<script src="{% static 'web_app/myplugin.js' %}"></script>
</html>