{% extends "web_app/base.html" %}

{% block content %}

<div class="card" style="width:100%; margin: auto">
  <div class="card-body">
    <h4 class="card-title">The Simple Online Pad</h4>
    <h6 class="card-subtitle mb-2 text-muted">Chenyu Xi</h6>
    <div  class="card-text" style="font-size: 15px">
       <p class="card-text">
           This is a project based on HTML/CSS, JavaScript and django<br>
           <b>A small online pad application for medium editor</b>
           <br/>
           I'm not professional with front-end development, thus I cannot build an exactly same plugin/element bar with full
           functions as described in project guideline, but I have tried my best and they looks same. :)
           <br>
           Notice: There might be unknown bugs as the web is not fully tested and under constructions...
       </p>
      </div>
      <br>
      <a href="Mailto:xi.chenyu@columbia.edu" class="card-link btn btn-dark">Email</a>
      <a href="{% url 'web_app:topics' %}" class="btn btn-primary" style="margin: auto">Hit me to start</a>
  </div>
</div>


{% endblock content %}