{% extends "web_app/base.html"%}
{%block content%}

<div class="card border-dark mb-3" style="width: 90%;">
  <div class="card-header"><a href="{% url 'web_app:topic' topic.id %}" class="btn btn-info">Back to {{ topic }}</a></div>
  <div class="card-body text-dark">
    <h6 class="card-title">Add New Entry</h6>
      <br>
    <div class="card-text">
        <form  id="entry_form"  action="{% url 'web_app:new_entry' topic.id %}" method=POST>
    {% csrf_token %}
    <textarea type="text" name="text" class="editable"></textarea>
        <br>
    <button class="entry_submit btn btn-success" type="button" name="btnSubmit">Add New Entry</button>
</form>
    </div>
  </div>
</div>


{% endblock content %}