{% extends "web_app/base.html"%}
{%block content%}

<h1>Topics: {{topic}}</h1>
<ul>
    {% for item in entries %}
    <li>
        <p>{{ item.date_added|date:'M d, Y H:i' }}</p>
        <div class="textfield">{{item.text}}</div>

        <a href="{% url 'web_app:edit_entry' item.id %}">edit entry</a>
        <a href="{% url 'web_app:del_entry' item.id %}">delete entry</a>
    </li>

    {% empty %}
    <li>There are no entries for this topic yet.</li>
    {% endfor %}
    <a href="{% url 'web_app:new_entry' topic.id %}">add new entry</a>
</ul>

<script>

    function fun() {
        let elements  = document.getElementsByClassName("textfield");
        Array.prototype.forEach.call(elements, function (element) {
            let inner = element.innerText;
            console.log(inner);
            element.innerHTML = inner;
        });
    }

    fun();
</script>

{% endblock content %}