{% extends "web_app/base.html"%}
{%block content%}


<h1 style="margin: 5px">
    Topic: {{topic}} &nbsp; &nbsp;<a href="{% url 'web_app:new_entry' topic.id %}" class="btn btn-primary">add new</a>
</h1>
<hr size="1" noshade="noshade" />
<div>
    {% for item in entries %}
  <div class="card" style="width: 100%; margin: auto">
      <div class="card-footer">
      <a href="{% url 'web_app:edit_entry' item.id %}" class="btn btn-success">edit</a>
        <a href="{% url 'web_app:del_entry' item.id %}" class="btn btn-danger">delete</a>
    </div>
    <div class="card-body">
      <div class="card-text textfield">{{item.text}}</div>
    </div>
       <div class="card-footer">
         <h6 class="card-title">Add time: {{ item.date_added|date:'M d, Y H:i' }}</h6>
    </div>

  </div>
</div>

    {% empty %}
    <h3 class="flash">There are no entries for this topic yet.</h3>
    {% endfor %}


<script>

    function fun() {
        let elements  = document.getElementsByClassName("textfield");
        Array.prototype.forEach.call(elements, function (element) {
            let inner = element.innerText;
            console.log(inner);
            element.innerHTML = inner;
        });
    }

    fun();
</script>

{% endblock content %}